---
# Galaxy Application Setup Tasks
- name: Add CloudVE Helm repository
  kubernetes.core.helm_repository:
    name: cloudve
    repo_url: https://raw.githubusercontent.com/CloudVE/helm-charts/master/
    state: present

- name: Create the galaxy-deps namespace
  kubernetes.core.k8s:
    kind: Namespace
    name: galaxy-deps
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

- name: Helm install galaxy-deps
  kubernetes.core.helm:
    name: galaxy-deps
    namespace: galaxy-deps
    chart_ref: "cloudve/galaxy-deps"
    chart_version: "{{ galaxy_deps_version }}"
    kubeconfig: "{{ kubeconfig_path }}"

- name: Create the galaxy namespace
  kubernetes.core.k8s:
    kind: Namespace
    name: galaxy
    state: present
    kubeconfig: "{{ kubeconfig_path }}"

# Prepare values files list with backward compatibility
- name: Prepare Galaxy values files list
  set_fact:
    _galaxy_values_files: >-
      {%- if galaxy_values_file is defined and galaxy_values_file != "" -%}
        {{ [galaxy_values_file] }}
      {%- elif galaxy_values_files is defined and galaxy_values_files | length > 0 -%}
        {{ galaxy_values_files }}
      {%- else -%}
        {{ ['values/values.yml'] }}
      {%- endif -%}

- name: Display Galaxy values files being used
  debug:
    msg: "Using Galaxy Helm values files: {{ _galaxy_values_files }}"

- name: Copy Galaxy values files to the remote host
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/tmp/galaxy_values_{{ idx }}.yml"
    mode: '0644'
  loop: "{{ _galaxy_values_files }}"
  loop_control:
    index_var: idx

- name: Helm install Galaxy
  kubernetes.core.helm:
    name: galaxy
    namespace: galaxy
    chart_ref: "{{ galaxy_chart }}"
    chart_version: "{{ galaxy_chart_version }}"
    kubeconfig: "{{ kubeconfig_path }}"
    update_repo_cache: true
    values_files: "{{ lookup('sequence', 'start=0 end=' ~ (_galaxy_values_files|length - 1) ~ ' format=/tmp/galaxy_values_%d.yml', wantlist=True) }}"
    values:
      persistence:
        size: "{{ galaxy_persistence_size }}"
      postgresql:
        galaxyDatabasePassword: "{{ galaxy_db_password }}"
      configs:
        galaxy.yml:
          galaxy:
            single_user: "{{ galaxy_user }}"
            admin_users: "{{ galaxy_user }}"
            master_api_key: "{{ galaxy_api_key | default(omit) }}"
      jobs:
        rules:
          tpv_rules_local.yml:
            destinations:
              k8s:
                max_cores: "{{ galaxy_job_max_cores }}"
                max_mem: "{{ galaxy_job_max_mem }}"
