name: Install Kubernetes and Galaxy
description: "Set up a Galaxy instance to use for testing tools and workflows"

on:
  workflow_dispatch:
    inputs:
      playbook-repo:
        description: 'Playbook repository. Just include the org and repo name'
        default: 'galaxyproject/galaxy-k8s-boot'
        required: true
      playbook-branch:
        description: 'Branch of the playbook repository to use. This should point to a stable tag and not a moving branch like master or main.'
        default: 'master'
        required: true
      reserved-cores:
        description: 'Number of cores to reserve for the system'
        default: 2
        required: true
      reserved-mem-gb:
        description: 'Amount of memory to reserve for the system in GB'
        default: 6
        required: true
      api-key:
        description: 'API key to use for the Galaxy instance'
        default: changeme
        required: true

env:
  RESERVED_CORES: ${{ inputs.reserved-cores }}
  RESERVED_MEM_GB: ${{ inputs.reserved-mem-gb }}

jobs:
  run:
    name: Install Kubernetes and Galaxy
    runs-on: ubuntu-latest
  steps:
    using: "composite"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install Ansible
        run: pip install ansible

      - name: Install the playbook
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.playbook-repo }}
          ref: ${{ inputs.playbook-branch }}

      - name: Run the playbook
        shell: bash
        run: |
          cat inventories/localhost.template | sed "s/__HOST__/$(curl -s ifconfig.me)/" | sed "s/__USER__/$USER/" > inventories/localhost
          ansible-playbook -i inventories/localhost playbook.yml --extra-vars "job_max_cores=$(($(nproc) - $RESERVED_CORES))" --extra-vars "job_max_mem=$(($(free -m | awk '/^Mem:/{print $2}') - $RESERVED_MEM_GB))" --extra-vars "application=galaxy" --extra-vars "galaxy_api_key=${{ steps.api-key.outputs.key }}"

     
